/* =========================
   Base / Reset
========================= */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* =========================
   Layout
========================= */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-wrapper {
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

/* =========================
   Header
========================= */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.logo-accent {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* =========================
   Hero
========================= */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    max-width: 496px;
    text-align: center;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;

    margin-bottom: 48px;
}

.hero-btn {
    min-width: 169px;
    height: 56px;

    border: none;
    border-radius: 4px;

    background-color: #4d5ae5;
    color: #ffffff;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* =========================
   Features
========================= */

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);
}

.feature-item h3 {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =========================
   Team
========================= */

.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.team-content {
    padding: 32px 16px;
    text-align: center;
}

.team-content h3 {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =========================
   Portfolio
========================= */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-content h3 {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-content p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =========================
   Footer
========================= */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer .logo {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
    /* важливо */
}

.page-footer .logo span {
    color: #f4f4fd;
}

/* ОЦЕ РОБИТЬ 264px ЯК У FIGMA */
.footer-content {
    width: 264px;
    /* можна max-width, але width 100% точно спрацює */
}

.footer-text {
    margin: 0;
    width: 264px;
    /* дублюємо, щоб 100% не розтягував */
    color: #f4f4fd;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}