body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
}


.logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo span {
    color: #2e2f42;
}

.site-nav {
    margin-bottom: 16px;
}

.nav-item+.nav-item {
    margin-top: 4px;
}

.nav-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list li+li {
    margin-top: 4px;
}

.contacts-list a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}


.hero-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.btn-primary {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #404bbf;
}


.section-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}


.feature-item+.feature-item {
    margin-top: 72px;
}

.feature-item h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}



.team-item {
    background-color: #ffffff;
    text-align: center;
}

.team-item+.team-item {
    margin-top: 72px;
}

.team-content h3 {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    width: 360px;
}

.portfolio-item+.portfolio-item {
    margin-top: 48px;
}

.portfolio-content h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-content p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #f4f4fd;
}

.footer-inner {
    width: 264px;
}

.page-footer .logo {
    margin-bottom: 16px;
}

.page-footer .logo span {
    color: #f4f4fd;
}

.page-footer p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}